body {
  height: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-color: lightgray;

  /* background-color: #f2f2f2; */
}
.search-box {
  gap: 10px;
  margin-right: 20px;
}
.html-logo {
  float: right;
  margin-left: 40px;
  /* width: 200px;
    height: 200px; */
}
.p-links p {
  font-size: 20px;
  width: 50%;
  margin-left: 250px;
}
.p-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 15px;
  background-color: lightgray;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 5px 5px 30px 2px darkgray;
}

img {
  width: 150px;
}
h1 {
  text-align: center;
}
.linkovi-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: lightgray;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
.history {
  text-align: center;
  background-color: lightgray;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 5px 5px 30px 2px darkgray;
  font-size: 20px;
}
/* .history p {
    
    margin: 50px 200px;
    font-size: 20px;


} */
.tabela {
  border: 1px solid black;
  width: 200px;
  border-radius: 10px;
  background-color: lightgray;
  box-shadow: 5px 5px 30px 2px darkgray;
  font-size: 20px;
}
.tabela-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 15px;
}

.form {
  display: flex;
  justify-content: center;
  background-color: lightgray;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 5px 5px 30px 2px darkgray;
  margin: 100px 250px;
}
